/Base/baseProyecto1Disenho/nbproject/private/
/Base/baseProyecto1Disenho/build/
/DTO_Cliente/DTO_Cliente/nbproject/private/
/DTO_Cliente/DTO_Cliente/build/
/DTO_Cliente/DTO_Cliente/dist/
/Servidor/Servidor/nbproject/private/
/Servidor/JavaApplication12/nbproject/private/
/Cliente/Cliente/nbproject/private/
/Servidor/Servidor/build/
/Base/baseProyecto1Disenho/dist/
/Cliente/Cliente/build/
/Cliente/Cliente/dist/